/proposal/main-tmp/*
/proposal/cegaar_proposal.fls
/proposal/cegaar_proposal.synctex.gz
/proposal/cegaar_proposal.pdf
/written/accelInterpol.fls
/written/accelInterpol.pdf
/written/accelInterpol.synctex.gz
/written/main-tmp
